<!-- Hard coded header text-->
<!-- <app-tool-header headerText="Color Tool"></app-tool-header> -->

<!-- Angular expression, found in color-home.component.ts -->
<app-tool-header [headerText]="headerText"></app-tool-header>

<ul>
  <li *ngFor="let color of colors">
    {{color}}
  </li>
</ul>
<!-- submitColor is tied to the submitColor Output event emitter
from the color-form.component.ts. The $event is emitted from doSubmitColor()-->
<!-- Step 2 -->
<app-color-form buttonText="Add Color"
  (submitColor)="doAddColor($event)"></app-color-form>

